[MESSAGES CONTROL]
disable=import-error,
        bad-continuation,
        too-many-branches,
        missing-function-docstring,
        global-statement,
        too-many-return-statements,
        missing-class-docstring,
        no-value-for-parameter,
        too-many-function-args,
        line-too-long,
        unused-argument,
        too-many-arguments,
        too-many-statements,
        duplicate-code,
        too-many-instance-attributes
